// Notice bar above navigation
.notice {
    background-color: $dark-grey;
    position: relative;
    height: auto;
    overflow: auto;
    span {
        align-self: auto;
        color: $light-grey;
        letter-spacing: -0.6px;
    }
    ul {
        margin: 0;
        padding: 0;
        position: relative;
        float: right;
        display: inline-table;
        li {
            display: table-cell;
            padding: 0 10px;
            vertical-align: middle;
            a {
                font-size: 0.9rem;
            }
            a:hover {
                color: $lighter-grey;
            }
        }
    }
}

// Navigation
.menu {
    text-align: center;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.56);
    ul {
        margin: 0;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        display: inline-table;
        li:nth-child(5) {
            width: 400px;
            padding-top: 5px;
        }
        li {
            display: table-cell;
            vertical-align: middle;
            margin-left: 40px;
            padding: 0 0.2vw;
            a {
                color: black;
                font-weight: 700;
            }
            a:hover {
                color: $light-grey-text;
            }
        }
        li:last-child {
            width: 20%;
        }
    }
}

// Main Content
.main {
    display: grid;
    grid-template-columns: 55% 45%;
    margin-bottom: 3rem;
    .imageDisplay {}
    .imageDisplay img {
        width: 100%;
        height: auto;
    }
    .imageInfo {
        text-align: center;
        position: relative;
        background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* ff3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(241, 241, 241, 1)));
        /* safari4+,chrome */
        background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* opera 11.10+ */
        background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* ie10+ */
        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#FFFFFF', GradientType=1);
        /* ie6-9 */
        .miniContainer {
            width: 50%;
        }
    } // Finns i lager
    .imageInfo .lagerstatus {
        i {
            padding-right: 5px;
            color: $nice-green;
        }
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 0.9rem;
        letter-spacing: -1px;
        font-weight: bold;
    }
    .imageInfo .miniContainer {
        input[type=radio] {
            display: none;
        }
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        h4 {
            font-size: 1.1rem;
        }
        h2 {
            font-family: sans-serif;
        }
        h5 {
            text-transform: uppercase;
        }
        label {
            color: $dark-grey;
            font-size: 1.2rem;
            background: #fff;
            width: 40px;
            height: 40px;
            border: solid #000000 1px;
            text-decoration: none;
            display: inline-block;
            padding-top: 7px;
        }
        label:hover,
        input:checked+label {
            background: #000000;
            text-decoration: none;
            color: #fff;
        }
        .btnlg {
            color: #fff;
            font-size: 1rem;
            background: $dark-blue;
            width: 75%;
            height: 50px;
            text-decoration: none;
            border: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            text-transform: uppercase;
        }
        .btnlg:focus,
        .btnlg:hover {
            background-color: $nice-green;
        }
        .artikelnummer {
            margin-top: 1rem;
            display: block;
        }
    }
    .aboutProduct {
        width: 90%;
        margin: 0 auto;
        // Input style
        input[type=radio] {
            display: none;
        }
        label {
            display: block;
            padding: 20px 0 20px 0;
            cursor: pointer;
            color: $light-grey-text;
            text-align: left;
            text-transform: uppercase;
            font-family: open sans;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            i {
                margin-top: -5px;
                float: right;
                margin-right: 10px;
            }
        }
        label:hover,
        input:checked+label {
            i {
                color: $dark-grey;
            }
        }
        .toggle-content {
            display: none;
            text-align: left;
            font-family: sans-serif;
            font-size: 1rem;
            padding: 15px 0 15px 0;
        }
        // Toggle state
        input[type=radio]:checked~.toggle-content {
            display: block;
        }
    }
}

// Mer från hackett sektion
.moreFrom {
    width: 85%;
    margin: 0 auto;
    position: relative;
    .topOfGrid {
        position: relative;
        display: flex;
        justify-content: space-between;
        .getMore {
            padding: 30px 0 40px 0;
            color: $dark-blue;
            font-size: 1.3rem;
            a {
                color: $dark-blue;
            }
            a:hover {
                color: $light-grey-text;
            }
        }
        .allProducts {
            i {
                font-size: 1.7rem;
                margin-left: 1rem;
            }
        }
    }
    .productGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        position: relative;
        text-align: center;
        img {
            width: 100%;
        }
        div {
            position: relative;
        }
        .productInfo {
            text-align: center;
            width: 50%;
            margin: 0 auto;
            h4 {
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                font-family: sans-serif;
                margin-top: 15px;
                letter-spacing: -0.5px;
            }
            h2 {
                font-weight: 700;
                font-size: 1.3rem;
                font-family: sans-serif;
                margin-top: 15px;
            }
        }
        a {
            background: #c5641a;
        }
        a:hover {
            opacity: 0.8;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
    }
}

.mailList {
    width: 85%;
    margin: 5rem auto 3rem auto;
    position: relative;
    height: 326px;
    background: url("../img/newsletter_bg.jpg") no-repeat center center;
    background-size: cover;
    .newsletterContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        align-items: center;
        height: 100%;
        h1 {
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 1px;
            font-size: 2.2rem;
            font-weight: 100;
        }
        p {
            font-size: 0.95rem;
            line-height: 25px;
            font-weight: 400;
            color: $light-grey-text;
        }
        .latest {
            width: 84%;
            margin: 0 auto;
        }
        .emailSend {
            margin-left: 4rem;
            button {
                margin-left: -4px;
                z-index: 2;
                border: none;
                height: 45px;
                font-size: 1rem;
                font-family: sans-serif;
                padding: 0 30px 0 30px;
                background-color: $dark-blue;
                color: #fff;
                letter-spacing: 1px;
            }
            button:hover {
                cursor: pointer;
                background-color: $dark-grey;
            }
            input {
                border: none;
                height: 45px;
                padding: 0 0 0 15px;
                color: grey;
                font-weight: 400;
                font-size: 1rem;
                text-overflow: clip;
                width: 50%;
            }
        }
    }
}

.media {
    background-color: $lighter-grey;
    height: auto;
    .mediaWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.4rem;
        width: 85%;
        margin: 0 auto;
        align-items: center;
        height: 100%;
    }
    button {
        border: 2px solid $dark-grey;
        font-size: 1rem;
        font-family: open sans;
        width: 100%;
        height: 50px;
        background-color: $lighter-grey;
        cursor: pointer;
        font-weight: 400;
        margin: 38px 0 38px 0;
    }
    button:hover {
        opacity: 0.6;
    }
}

.footah {
    .hr-footer {
        width: 85%;
        color: grey;
    }
    p {
        width: 75%;
        margin: 50px auto 50px auto; 
        font-size: 0.8rem;
    }
    background-color: #000;
    padding: 50px 0 10px 0;
    .footerWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        width: 85%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 60px;
        h3 {
            color: #fff;
            font-size: 1.3rem;
            letter-spacing: 3px;
        }
        h5 {
            color: #fff;
            font-size: 1rem;
            margin: 15px 0 10px 0;
        }
        ul {
            padding: 0;
        }
        ul:nth-child(3) {
            margin-bottom: 50px;
        }
        ul:last-child {
            margin-top: 38px;
            li {
                color: $light-grey-text;
            }
        }
        li {
            color: #fff;
            list-style: none;
            font-family: sans-serif;
            line-height: 35px;
            a {
                font-size: 0.9rem;
                color: $light-grey-text;
                text-transform: none;
            }
        }
    }
    .license {
        text-align: center;
        padding-top: 10px;
        a {
            font-size: 0.7rem;
            text-transform: none;
        }
    }
}
