@media screen and (max-width: 1295px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 940px) {
    .menu {
        background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* ff3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(241, 241, 241, 1)));
        /* safari4+,chrome */
        background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* opera 11.10+ */
        background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* ie10+ */
        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%);
        /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#FFFFFF', GradientType=1);
        /* ie6-9 */
        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 20px;
            li {
                display: block;
                text-align: left;
                margin: 0;
                a {
                    color: $dark-grey;
                }
            }
            li:nth-child(5) {
                order: 1;
            }
        }
    }
    .main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {}
